{
  "local": {
    "STRIPE_PUBLISHABLE_KEY": "pk_test_•••",
    "STRIPE_SECRET_KEY": "sk_test_•••",
    "STRIPE_WEBHOOK_SECRET": "whsec_•••",
    "STRIPE_ACCOUNT_COUNTRY": "US"
  },
  "dev": {
    "STRIPE_PUBLISHABLE_KEY": "pk_test_•••",
    "STRIPE_SECRET_KEY": "sk_test_•••",
    "STRIPE_WEBHOOK_SECRET": "whsec_•••",
    "STRIPE_ACCOUNT_COUNTRY": "US"
  },
  "release": {
    "STRIPE_PUBLISHABLE_KEY": "pk_live_•••",
    "STRIPE_SECRET_KEY": "sk_live_•••",
    "STRIPE_WEBHOOK_SECRET": "whsec_•••",
    "STRIPE_ACCOUNT_COUNTRY": "US"
  }
}
